disnake[voice,speed]~=2.11.0
prisma
jikanpy-v4
matplotlib
numpy
https://github.com/tooruu/arabot/raw/5554272/resources/gacha_py-2.0.0-py3-none-any.whl
python-dotenv
tzdata
async-lru
waifu-py
uvloop; sys_platform != "win32"
winloop; sys_platform == "win32"
