disnake[voice]~=2.5.0
# Speedups
aiodns
Brotli
orjson

# Libraries
jikanpy
matplotlib
git+https://github.com/rexor12/gacha.py.git
python-dotenv
tzdata
git+https://github.com/aio-libs/async-lru.git@3574af7691371015c47faf77e0abf8c7b06a3cdc
